@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>
        <article class="content px-4">
            @Body
        </article>
        <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
    </main>
</div>

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;
}